force-app/main/default/flows/Apply_Category_and.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_Custom_Tier_Discount</name>
        <label>Assign Custom Tier Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_QuantityDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Matching_Quantity_Tier.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_final_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Category_Discount</name>
        <label>Get Category Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CategoryDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__r.Default_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Matching_Quantity_Tier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_final_values</name>
        <label>Set final values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quantitiy_Tier_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_QuantityDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category_Based_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CategoryDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calc_TotalDiscount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_to_zero</name>
        <label>Set to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_QuantityDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_final_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_a_Tier</name>
        <label>Did We Find a Tier?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_to_zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tier found</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Matching_Quantity_Tier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Custom_Tier_Discount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calc_TotalDiscount</name>
        <dataType>Number</dataType>
        <expression>{!var_CategoryDiscount} + {!var_QuantityDiscount} + BLANKVALUE({!$Record.Offered_Discount__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Apply Category and {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply Category and Quantity Based Discounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Matching_Quantity_Tier</name>
        <label>Find Matching Quantity Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Minimum_Quantity__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Maximum_Quantity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quantitiy_Tier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Category_Discount</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_CategoryDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_QuantityDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
